Progetto Data Mining A.A. 2019/2020
=====

Asteroidi e comete: analisi del diametro, dell'orbita e della pericolosit√†
---

Francesco Pasceri matricola 204963

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score, roc_curve, confusion_matrix, classification_report, accuracy_score, f1_score
from sklearn.model_selection import cross_validate, train_test_split, cross_val_score

from sklearn.linear_model import LogisticRegression

Fase 5 Parte 2: Anomaly Detection
---

<b><u>
Questa seconda parte della fase di Anomaly Detection prevede una semplice applicazione di una classificatore per distinguere in maniera interessante i dati PHA e NON PHA.
</u></b>

## 1. Import dati e splitting

In [2]:
with open('lat_x','rb') as f:
    rep_x = pickle.load(f)
    
with open('lat_y','rb') as f:
    rep_y = pickle.load(f)
    
data_ = pd.DataFrame(rep_x)
labels_ = pd.Series(rep_y)

data_.head()

,0,1,2,3,4,5,6,7,8,9
0,0.355850,0.0,4.470014,1.012044,4.887857,4.771895,1.184923,2.197532,1.288058,1.275566
1,0.198753,0.0,4.166766,0.728209,3.512450,3.944208,1.194897,2.074658,1.310161,0.901589
2,1.217498,0.0,2.371068,0.908182,0.000000,2.151043,1.144641,1.916535,0.491455,1.265974
3,0.685564,0.0,3.684597,0.937674,2.106689,3.938996,1.428103,1.933332,0.655044,1.422925
4,0.583566,0.0,1.183411,0.426976,0.000000,0.979514,0.890255,1.334154,0.564871,1.236603

In [3]:
counts = labels_.value_counts() * 1.
print('no pha:',counts[1], '\npha:', counts[-1])

no pha: 3000.0
pha: 323.0

In [4]:
outlier_fraction = counts[-1] / (counts[1] + counts[-1]) 
print('outlier_fract', outlier_fraction)

outlier_fract 0.09720132410472465

In [13]:
train_x, test_x, train_y, test_y = train_test_split(rep_x, rep_y, test_size=0.2)

print(train_x.shape, test_x.shape)

(2658, 10) (665, 10)

## 2. Applicazione del LogisticRegressor

In [14]:
clf = LogisticRegression(solver="lbfgs").fit(train_x, train_y)
pred_y = clf.predict(test_x)

print("")
print ("Classification Report: ")
report = classification_report(test_y, pred_y, output_dict=True)
dt = pd.DataFrame( report ).transpose()
display(dt)

print("")
print("Confusion matrix: ")
dt = pd.DataFrame( confusion_matrix(y_pred=pred_y, y_true=test_y) )
display(dt)

Classification Report:

              precision    recall  f1-score    support
-1.0           0.892308  0.983051  0.935484   59.00000
1.0            0.998333  0.988449  0.993367  606.00000
accuracy       0.987970  0.987970  0.987970    0.98797
macro avg      0.945321  0.985750  0.964425  665.00000
weighted avg   0.988927  0.987970  0.988231  665.00000

Confusion matrix:

    0    1
0  58    1
1   7  599